body {
    text-align: center;
    color: #1b1c1c;
}

/* Styles for Typography*/
h3 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #00a0da;
}

.info-number {
    font-size: 1.5rem;
    color: #1f79ff;
    margin : 0 0.5rem;
}

/* Styles for Info Panel */

.info-panel {
    background: rgb(237, 245, 254);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem auto 0;
    text-align: left;
    width: 20rem;
    height: 3.6rem;
    padding: 0 3rem;
    border-radius: 3rem;
}

.life {
    display: flex;
    align-items: center;
}

.life-img {
    width: 2rem;
    margin-bottom: 1rem;
}